.navbar {
margin-bottom: 3%;
text-align: right;
}

#main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2%
}

.link-buttons {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.navbar-text {
    font-family: 'Poiret One', cursive;
    font-size: 24px;
}